{% include base_path %}


<nav>

  {% for link in site.data.navigation.main %}
    {% if link.url contains 'http' %}
      {% assign domain = '' %}
      {% else %}
      {% assign domain = base_path %}
    {% endif %}
    <a class="nav-link {% if link.title contains page.nav %}active{% endif %}" 
      href="{{ domain }}{{ link.url }}">{{ link.title }}
    </a>
  {% endfor %}

</nav>

<!-- <nav>
    <a class="nav-link active" href="/">about</a>
    <a class="nav-link" href="projects">projects</a>
    <a class="nav-link" href="blog">blog</a>
</nav> -->