/*------------------------NAV---------------------*/
nav{
    background: #b77a1e;
    padding: 15px 0;
    font-size: 22px;
    text-align: center;
}
nav .nav-link{
    text-decoration: none;
    color: #AFAFAF;
    font-size: 18px;
}
.nav-link{
  margin-left: 15px;
}
a.nav-link.active{
  color: #fff;
  text-decoration: underline;
}
nav a:hover
{
    color: #fff !important;
}
/*------------------------END NAV---------------------*/